{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
{% endblock %}

{% block body %}
<h1>Artists present per month</h1>
<p class="lead">The objective here for me is to see the persistence of artists over the course of months in the dataset, with a <kbd>start_date</kbd> and <kbd>end_date</kbd> set and a <kbd>tolerance</kbd> set.</p>

<h2>Step 1: Importing all necessary libraries</h2>
<pre><code class="language-python">
    from tqdm.notebook import tqdm
    from collections import OrderedDict
    import pandas as pd
    import datetime, maya, pytz, re, json, copy
</code></pre>

<h2>Step 2: Set up all variables</h2>
<pre><code class="language-python">
    start_date = datetime.datetime(year=1930, month=1, day=1)
    end_date = datetime.datetime(year=1940, month=1, day=1)
    tolerance = datetime.timedelta(weeks=12)
    
    # Fix timezones
    timezone = pytz.timezone("UTC")
    start_date = timezone.localize(start_date)
    end_date = timezone.localize(end_date)

    # Set up all the variables we need
    month_list = ['', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    tolerances = [0, 1, 2, 3, 4, 5]
    calendars = {}
    padded_datasets = {}
</code></pre>

<h2>Step 3: Function for loading DataFrame from Google Sheet</h2>
<pre><code class="language-python">
    def get_clean_df(only_performer_and_venue=True):
        def get_performer(row):
            if row['Normalized performer'] != '':
                return row['Normalized performer']
            if row['Performer'] != '':
                return row['Performer']
            if row['Performer first-name'] != '' and row['Performer last-name'] != '':
                return row['Performer first-name'] + ' ' + row['Performer last-name']
            return ''

        def get_revue(row):
            if row['Normalized Revue Name'] != '':
                return row['Normalized Revue Name']
            if row['Revue name'] != '':
                return row['Revue name']
            return ''

        def get_venue(row, get_unique_venue=True):
            if get_unique_venue:
                if row['Unique venue'] != '':
                    return row['Unique venue']

            if row['Normalized Venue'] != '':
                return row['Normalized Venue']
            if row['Venue'] != '':
                return row['Venue']
            return ''

        def get_city(row):
            if row['Normalized City'] != '':
                return row['Normalized City']
            if row['City'] != '':
                return row['City']
            return ''

        def get_source(row):
            if row['Source clean'] != '':
                return row['Source clean']
            if row['Source'] != '':
                return row['Source']
            return ''

        import maya
        from maya import pendulum

        def test_date(row, accept_only_full_dates=True):
            if accept_only_full_dates and not re.search(r'\d{4}\-\d{2}\-\d{2}', row["Date"]):
                return ''
            try:
                m = maya.parse(row["Date"]).datetime()
                return m
            except pendulum.exceptions.ParserError:
                return ''
            except ValueError:
                return ''

        drop_columns = ['Legal name', 'Alleged age', 'Assumed birth year', 'EIMA', 'Search (newspapers.com)', 'Search (fulton)', 'Imported from former archive', 'Edge Comment', 'Exclude from visualization', 'Comment on node: performer', 'Comment on node: venue', 'Comment on node: city', 'Comment on edge: revue', 'Blackface', 'Sepia', 'Fan dancer/Sally Rand', 'Exotic/erotic/oriental dancer/Gypsy', 'Has image', 'Address', 'Vaudeville Circuit/Circus', 'Unsure whether drag artist']

        df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vT0E0Y7txIa2pfBuusA1cd8X5OVhQ_D0qZC8D40KhTU3xB7McsPR2kuB7GH6ncmNT3nfjEYGbscOPp0/pub?gid=0&single=true&output=csv')

        df = df.replace('—', '')
        df = df.fillna('')


        # Set the dates
        df['Date'] = df.apply(lambda row: test_date(row), axis=1)

        # No required date
        no_date = df[(df['Date'] == '')].index
        df = df.drop(no_date)

        # Excluded
        excluded = df[df['Exclude from visualization'] == True].index
        df = df.drop(excluded)

        # Excluded
        unsure_drag = df[df['Unsure whether drag artist'] == True].index
        df = df.drop(unsure_drag)

        # Drop unnecessary columns
        df = df.drop(['Category', 'Normalized City', 'City'], axis='columns')

        # Fix performers
        df['Performer'] = df.apply(lambda row: get_performer(row), axis=1)
        df = df.drop(['Normalized performer', 'Performer first-name', 'Performer last-name'], axis='columns')

        # Fix venue
        df['Venue'] = df.apply(lambda row: get_venue(row), axis=1)
        df = df.drop(['Normalized Venue', 'Unique venue'], axis='columns')

        # Fix city *since we're using "Unique venue", we don't need city
        # df['City'] = df.apply(lambda row: get_city(row), axis=1)
        # df = df.drop(['Normalized City'], axis='columns')

        # Fix revue
        df['Revue'] = df.apply(lambda row: get_revue(row), axis=1)
        df = df.drop(['Revue name', 'Normalized Revue Name'], axis='columns')

        # Fix source
        df['Source'] = df.apply(lambda row: get_source(row), axis=1)
        df = df.drop(['Source clean'], axis='columns')

        # drop rows with none of the required data
        no_data = df[(df['Performer'] == '') & (df['Venue'] == '')].index 
        df = df.drop(no_data)

        if only_performer_and_venue:
            # drop rows with none of the required data
            no_data = df[(df['Venue'] == '') | (df['Performer'] == '')].index 
            df = df.drop(no_data)

        # Drop rest of columns
        df = df.drop(drop_columns, axis='columns')
        
        return df
</code></pre>

<h2>Step 4: Load and Filter</h2>
<pre><code class="language-python">
    def find_unnamed(row):
        if 'unnamed' in row.Performer.lower():
            return True
        return False

    df = get_clean_df()

    # Filtering by date
    filtered_df = df[(df["Date"] >= start_date) & (df["Date"] <= end_date)].copy()

    # Filter out unnamed performers
    filtered_df['Unnamed'] = filtered_df.apply(lambda row: find_unnamed(row), axis=1)
    unnamed = filtered_df[filtered_df['Unnamed'] == True].index
    filtered_df = filtered_df.drop(unnamed)

    # Remove duplicates of subset of Date - Performer - Venue
    duplicated = filtered_df[filtered_df.duplicated(subset=['Date', 'Performer', 'Venue'], keep='first')].index
    filtered_df.drop(duplicated)

    # Reset index
    filtered_df = filtered_df.reset_index()
    filtered_df = filtered_df.drop(['index'], axis='columns')

    # Sort by performer
    filtered_df = filtered_df.sort_values('Performer')
</code></pre>

<h2>Step 5: Set up the logic for month/year distribution</h2>
<pre><code class="language-python">
    def get_check(year, month, tolerance=2):
        check_years = []
        check_months = []
        
        if tolerance == 0:
            check_years = [year]
            check_months = [month]

        else:
            if month == 'Jan':
                if tolerance == 1:
                    check_years = [year-1, year, year]
                    check_months = ['Dec', 'Jan', 'Feb']
                elif tolerance == 2:
                    check_years = [year-1, year-1, year, year, year]
                    check_months = ['Nov', 'Dec', 'Jan', 'Feb', 'Mar']
                elif tolerance == 3:
                    check_years = [year-1, year-1, year-1, year, year, year, year]
                    check_months = ['Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr']
                elif tolerance == 4:
                    check_years = [year-1, year-1, year-1, year-1, year, year, year, year, year]
                    check_months = ['Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May']
                elif tolerance == 5:
                    check_years = [year-1, year-1, year-1, year-1, year-1, year, year, year, year, year, year]
                    check_months = ['Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']
            elif month == 'Feb':
                if tolerance == 1:
                    check_years = [year, year, year]
                    check_months = ['Jan', 'Feb', 'Mar']
                elif tolerance == 2:
                    check_years = [year-1, year, year, year, year]
                    check_months = ['Dec', 'Jan', 'Feb', 'Mar', 'Apr']
                elif tolerance == 3:
                    check_years = [year-1, year-1, year, year, year, year, year]
                    check_months = ['Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May']
                elif tolerance == 4:
                    check_years = [year-1, year-1, year-1, year, year, year, year, year, year]
                    check_months = ['Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']
                elif tolerance == 5:
                    check_years = [year-1, year-1, year-1, year-1, year, year, year, year, year, year, year]
                    check_months = ['Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']
            elif month == 'Mar':
                if tolerance == 1:
                    check_years = [year, year, year]
                    check_months = ['Feb', 'Mar', 'Apr']
                elif tolerance == 2:
                    check_years = [year, year, year, year, year]
                    check_months = ['Jan', 'Feb', 'Mar', 'Apr', 'May']
                elif tolerance == 3:
                    check_years = [year-1, year, year, year, year, year, year]
                    check_months = ['Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']
                elif tolerance == 4:
                    check_years = [year-1, year-1, year, year, year, year, year, year, year]
                    check_months = ['Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']
                elif tolerance == 5:
                    check_years = [year-1, year-1, year-1, year, year, year, year, year, year, year, year]
                    check_months = ['Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug']
            elif month == 'Apr':
                if tolerance == 1:
                    check_years = [year, year, year]
                    check_months = ['Mar', 'Apr', 'May']
                elif tolerance == 2:
                    check_years = [year, year, year, year, year]
                    check_months = ['Feb', 'Mar', 'Apr', 'May', 'Jun']
                elif tolerance == 3:
                    check_years = [year, year, year, year, year, year, year]
                    check_months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']
                elif tolerance == 4:
                    check_years = [year-1, year, year, year, year, year, year, year, year]
                    check_months = ['Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug']
                elif tolerance == 5:
                    check_years = [year-1, year-1, year, year, year, year, year, year, year, year, year]
                    check_months = ['Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
            elif month == 'May':
                if tolerance == 1:
                    check_years = [year, year, year]
                    check_months = ['Apr', 'May', 'Jun']
                elif tolerance == 2:
                    check_years = [year, year, year, year, year]
                    check_months = ['Mar', 'Apr', 'May', 'Jun', 'Jul']
                elif tolerance == 3:
                    check_years = [year, year, year, year, year, year, year]
                    check_months = ['Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug']
                elif tolerance == 4:
                    check_years = [year, year, year, year, year, year, year, year, year]
                    check_months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
                elif tolerance == 5:
                    check_years = [year-1, year, year, year, year, year, year, year, year, year, year]
                    check_months = ['Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct']
            elif month == 'Jun':
                if tolerance == 1:
                    check_years = [year, year, year]
                    check_months = ['May', 'Jun', 'Jul']
                elif tolerance == 2:
                    check_years = [year, year, year, year, year]
                    check_months = ['Apr', 'May', 'Jun', 'Jul', 'Aug']
                elif tolerance == 3:
                    check_years = [year, year, year, year, year, year, year]
                    check_months = ['Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
                elif tolerance == 4:
                    check_years = [year, year, year, year, year, year, year, year, year]
                    check_months = ['Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct']
                elif tolerance == 5:
                    check_years = [year, year, year, year, year, year, year, year, year, year, year]
                    check_months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov']
            elif month == 'Jul':
                if tolerance == 1:
                    check_years = [year, year, year]
                    check_months = ['Jun', 'Jul', 'Aug']
                elif tolerance == 2:
                    check_years = [year, year, year, year, year]
                    check_months = ['May', 'Jun', 'Jul', 'Aug', 'Sep']
                elif tolerance == 3:
                    check_years = [year, year, year, year, year, year, year]
                    check_months = ['Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct']
                elif tolerance == 4:
                    check_years = [year, year, year, year, year, year, year, year, year]
                    check_months = ['Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov']
                elif tolerance == 5:
                    check_years = [year, year, year, year, year, year, year, year, year, year, year]
                    check_months = ['Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            elif month == 'Aug':
                if tolerance == 1:
                    check_years = [year, year, year]
                    check_months = ['Jul', 'Aug', 'Sep']
                elif tolerance == 2:
                    check_years = [year, year, year, year, year]
                    check_months = ['Jun', 'Jul', 'Aug', 'Sep', 'Oct']
                elif tolerance == 3:
                    check_years = [year, year, year, year, year, year, year]
                    check_months = ['May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov']
                elif tolerance == 4:
                    check_years = [year, year, year, year, year, year, year, year, year]
                    check_months = ['Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                elif tolerance == 5:
                    check_years = [year, year, year, year, year, year, year, year, year, year, year+1]
                    check_months = ['Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan']
            elif month == 'Sep':
                if tolerance == 1:
                    check_years = [year, year, year]
                    check_months = ['Aug', 'Sep', 'Oct']
                elif tolerance == 2:
                    check_years = [year, year, year, year, year]
                    check_months = ['Jul', 'Aug', 'Sep', 'Oct', 'Nov']
                elif tolerance == 3:
                    check_years = [year, year, year, year, year, year, year]
                    check_months = ['Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                elif tolerance == 4:
                    check_years = [year, year, year, year, year, year, year, year, year+1]
                    check_months = ['May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan']
                elif tolerance == 5:
                    check_years = [year, year, year, year, year, year, year, year, year, year+1, year+1]
                    check_months = ['Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb']
            elif month == 'Oct':
                if tolerance == 1:
                    check_years = [year, year, year]
                    check_months = ['Sep', 'Oct', 'Nov']
                elif tolerance == 2:
                    check_years = [year, year, year, year, year]
                    check_months = ['Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                elif tolerance == 3:
                    check_years = [year, year, year, year, year, year, year+1]
                    check_months = ['Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan']
                elif tolerance == 4:
                    check_years = [year, year, year, year, year, year, year, year+1, year+1]
                    check_months = ['Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb']
                elif tolerance == 5:
                    check_years = [year, year, year, year, year, year, year, year, year+1, year+1, year+1]
                    check_months = ['May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar']
            elif month == 'Nov':
                if tolerance == 1:
                    check_years = [year, year, year]
                    check_months = ['Oct', 'Nov', 'Dec']
                elif tolerance == 2:
                    check_years = [year, year, year, year, year+1]
                    check_months = ['Sep', 'Oct', 'Nov', 'Dec', 'Jan']
                elif tolerance == 3:
                    check_years = [year, year, year, year, year, year+1, year+1]
                    check_months = ['Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb']
                elif tolerance == 4:
                    check_years = [year, year, year, year, year, year, year+1, year+1, year+1]
                    check_months = ['Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar']
                elif tolerance == 5:
                    check_years = [year, year, year, year, year, year, year, year+1, year+1, year+1, year+1]
                    check_months = ['Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr']
            elif month == 'Dec':
                if tolerance == 1:
                    check_years = [year, year, year+1]
                    check_months = ['Nov', 'Dec', 'Jan']
                elif tolerance == 2:
                    check_years = [year, year, year, year+1, year+1]
                    check_months = ['Oct', 'Nov', 'Dec', 'Jan', 'Feb']
                elif tolerance == 3:
                    check_years = [year, year, year, year, year+1, year+1, year+1]
                    check_months = ['Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar']
                elif tolerance == 4:
                    check_years = [year, year, year, year, year, year+1, year+1, year+1, year+1]
                    check_months = ['Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr']
                elif tolerance == 5:
                    check_years = [year, year, year, year, year, year, year+1, year+1, year+1, year+1, year+1]
                    check_months = ['Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May']
            else:
                raise RuntimeError('Unexpected month')
        
        if tolerance == 0 and len(check_years) + len(check_months) != 2:
            raise RuntimeError('Wrong amount of months/years in tolerance', tolerance, 'for month/year', month, year)
        if tolerance == 1 and len(check_years) + len(check_months) != 6:
            raise RuntimeError('Wrong amount of months/years in tolerance', tolerance, 'for month/year', month, year)
        if tolerance == 2 and len(check_years) + len(check_months) != 10:
            raise RuntimeError('Wrong amount of months/years in tolerance', tolerance, 'for month/year', month, year)
        if tolerance == 3 and len(check_years) + len(check_months) != 14:
            raise RuntimeError('Wrong amount of months/years in tolerance', tolerance, 'for month/year', month, year)
        if tolerance == 4 and len(check_years) + len(check_months) != 18:
            raise RuntimeError('Wrong amount of months/years in tolerance', tolerance, 'for month/year', month, year)
        if tolerance == 5 and len(check_years) + len(check_months) != 22:
            raise RuntimeError('Wrong amount of months/years in tolerance', tolerance, 'for month/year', month, year)
            
        return check_years, check_months
</code></pre>

<h2>Step 6: Set up all the looping over that we need</h2>
<pre><code class="language-python">
    # Get all years in dataset in order
    years_in_dataset = list(set([x.year for x, _ in filtered_df.sort_values('Date').groupby('Date')]))

    # Add them to calendar
    calendar = OrderedDict({year: [x for x in month_list if x] for year in years_in_dataset})

    # `calendar` is now an empty dictionary that contains all of the years (with concomitant months) for the dataset
    print(calendar)
</code></pre>

<h2>Step X: XYZ</h2>
<pre><code class="language-python">
    # We have to re-organize `calendar` to be a dict of `years: months: [list of performers]`:
    _calendar = {}
    for y, v in calendar.items():
        _calendar[y] = {}
        for m in [m for m in v if m]:
            _calendar[y][m] = []
    calendar = _calendar

    # save as `empty_calendar` for later use
    empty_calendar = copy.deepcopy(calendar)

    # `calendar now looks like we want it to`
    print('years:', calendar.keys())
    print('months (for each year):', calendar[1930].keys())
</code></pre>

<h2>Step X: XYZ</h2>
<pre><code class="language-python">
    # Loop through a list of all the performers
    for performer, data in filtered_df.groupby('Performer'):
        all_dates = data.sort_values('Date').Date
        # Zip the years and months together
        dates = zip([x.year for x in all_dates], [month_list[x.month] for x in all_dates])

        # Loop through them and add their name to the lists under each [year][month] in calendar
        for year, month in dates:
            calendar[year][month].append(performer)
            calendar[year][month] = list(set(calendar[year][month]))
            
    # `calendar` now has a list of unique performers in the dataset who appear for yeach [year][month]
    print(calendar[1930])
</code></pre>

<h2>Step X: XYZ</h2>
<pre><code class="language-python">
    calendar_checks = {}
    for year, months in {year: [x for x in months.keys()] for year, months in calendar.items()}.items():
        calendar_checks[year] = {}
        for month in months:
            calendar_checks[year][month] = {tolerance: get_check(year, month, tolerance=tolerance) for tolerance in tolerances}
                
    # `calendar_checks` now has the same calendar structure as the other `calendar` except each [year][month] value
    # follows the strcuture {tolerance: check}
    calendar_checks[1939]
</code></pre>

<h2>Step X: XYZ</h2>
<pre><code class="language-python">
    for tolerance in [0, 1, 2, 3, 4, 5]:
        # set up a `padded_dataset` from the empty calendar from before
        padded_dataset = copy.deepcopy(empty_calendar)
        
        for year in years_in_dataset:
            for month in [x for x in month_list if x]:
                # print(year, month)
                artists = calendar[year][month] # get the artists that appeared in the dataset for that specific month

                # they should be spread out, depending on the tolerance — by 0 months, 1 month, 2 months, and 3 months)
                spread_years, spread_months = calendar_checks[year][month][tolerance]
                
                print()
                print(f'currently we are looking at {month} {year} when there were {len(artists)} active.')
                print(f'This month should spread to {", ".join(" ".join(x) for x in zip(spread_months, [str(x) for x in spread_years]))}.')
                
                for y, m in zip(spread_years, spread_months):
                    try:
                        padded_dataset[y][m].extend(artists)
                        padded_dataset[y][m] = list(set(padded_dataset[y][m]))
                    except KeyError as k:
                        pass # print(k, 'does not exist in padded_dataset') # This will occur as the padding means that we overflow into years outside of the purview of this visualization
                    
        padded_datasets[tolerance] = padded_dataset.copy()
</code></pre>

<h2>Step X: XYZ</h2>
<pre><code class="language-python">
    def save_as_json(dict, path):
        with open(path, 'w+') as fp:
            json.dump(fp=fp, obj=dict)
            
        return True
    
    for tolerance in padded_datasets:
        save_as_json(padded_datasets[tolerance], f'../../drag-data-browser/docs/data/continuous-performances-tolerance-{tolerance}-detail.json')
</code></pre>

<h2>Step X: XYZ</h2>
<pre><code class="language-python">
    def save_as_json(df, path):
        rows = []
        for ix,row in df.iterrows():
            rows.append({
                'date': ix.strftime('%Y-%m-%d'),
                'month': row.month,
                'num_artists': row.num_artists,
                'year': row.year
            })
            
        with open(path, 'w+') as fp:
            json.dump(fp=fp, obj=rows)
            
        return True


    for tolerance in padded_datasets:
        df_summary = pd.DataFrame()

        for year, dp in padded_datasets[tolerance].items():
            for month, performers in dp.items():
                d = {'month': month, 'year': year, 'num_artists': len(performers)}
                s = pd.Series(d, name=pd.to_datetime(f'{year}-{month}'))
                df_summary = df_summary.append(s)
        df_summary['num_artists'] = df_summary['num_artists'].astype(int)
        df_summary['year'] = df_summary['year'].astype(int)


        save_as_json(df_summary, f'../../drag-data-browser/docs/data/continuous-performances-tolerance-{tolerance}.json')
</code></pre>

{% endblock %}

{% block javascript %}
    <script>hljs.highlightAll();</script>
{% endblock %}