@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
    background-color: rgba(245, 245, 220, 0.181);
    margin: 0;
    padding: 0;
}
div#lockIndicator {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(255, 191, 0, 0.154);
}
body.locked div#lockIndicator {
    display: block;
}
div#information,
div.informationBox {
    position: absolute;
    padding: 1em;
    font-family: "Open Sans";
    font-size: 0.7rem;
}

div.informationBox h3,
h4 {
    font-weight: 300;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

div.informationBox ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

div.informationBox ul li {
    color: rgba(0, 0, 0, 0.9);
    padding: 0.25em;
    display: inline-block;
    margin-right: 0.25em;
    margin-top: 0.25em;
}

div.informationBox ul li a {
    text-decoration: none;
}

div#pointer {
    position: absolute;
    padding: 1em;
    font-family: "Open Sans";
}

.node rect {
    shape-rendering: crispEdges;
}

text {
    font-family: "Open Sans";
}

.node text {
    pointer-events: none;
    font-size: 0.6rem;
    font-weight: 300;
}

#xScale text {
    pointer-events: none;
    font-size: 1rem;
    font-weight: bold;
}

#yScale text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
    font-size: 0.6rem;
}

.link {
    fill: none;
}

[data-performerCount="0"] {
    display: none !important;
}
