<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ BASE_URL }}">Drag Data Browser</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"
                        >Home</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ BASE_URL }}performer/"
                        >Performers</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ BASE_URL }}venue/">Venues</a>
                </li>
            </ul>
            {% if data.relative %}
            <nav aria-label="Page navigation">
                <ul
                    class="
                        pagination
                        justify-content-center
                        me-auto
                        mb-2 mb-lg-0
                    "
                >
                    <!-- Previous -->
                    {% if data.relative.prev %}
                    <li class="page-item">
                        <a
                            class="page-link"
                            href="{{ data.relative.prev.url }}"
                            tabindex="-1"
                            aria-disabled="false"
                            >&#8592; {{ data.relative.prev.label }}</a
                        >
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a
                            class="page-link"
                            href="#"
                            tabindex="-1"
                            aria-disabled="true"
                            >&#8592;
                        </a>
                    </li>
                    {% endif %}
                    <!-- Next -->
                    {% if data.relative.next %}
                    <li class="page-item">
                        <a
                            class="page-link"
                            href="{{ data.relative.next.url }}"
                            tabindex="-1"
                            aria-disabled="false"
                            >{{ data.relative.next.label }} &#8594;</a
                        >
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a
                            class="page-link"
                            href="#"
                            tabindex="-1"
                            aria-disabled="true"
                            >&#8594;</a
                        >
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
</nav>
