<ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    {% for category in NAVBAR.structure %}
        {% if category == "Case Studies" %}
            <li><!--  class="nav-item" -->
                <a href="{{ CASE_STUDY_URL }}" class="nav-link py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Case Studies">
                    <svg class="bi" width="24" height="24" role="img" aria-label="Case Studies"><use xlink:href="#case-study"></use></svg>
                </a>
            </li>
        {% else %}
            {% for item in NAVBAR.structure[category] %}
                <li><!--  class="nav-item" -->
                    <a href="{{ item.url }}" class="nav-link py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="{{ item.title }}">
                        <svg class="bi" width="24" height="24" role="img" aria-label="{{ item.title }}"><use xlink:href="#{{ item.icon }}"></use></svg>
                    </a>
                </li>
            {% endfor %}
        {% endif %}
    {% endfor %}
</ul>