@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

:root {
    --bg-color: rgb(252, 252, 251);
    --lockIndicator-bg: rgba(255, 191, 0, 0.5);
}
body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}
div#lockIndicator {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--lockIndicator-bg);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    z-index: 400;
}
body.locked div#lockIndicator {
    display: block;
}

div#information {
    position: absolute;
}

div.informationBox {
    position: absolute;
    padding: 1em;
    font-family: "Open Sans";
    font-size: 0.7rem;
    padding-bottom: 75px;
}

div.informationBox h3 {
    margin-left: -12px !important;
    padding-left: 12px !important;
    margin-right: -12px !important;
    padding-right: 12px !important;
    margin-top: -12px !important;
    padding-top: 12px !important;
    background-color: var(--bg-color);
    /* sticky-top */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

div.informationBox h3,
h4 {
    font-weight: 300;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

div.informationBox ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

div.informationBox ul li {
    padding: 0.25em;
    display: inline-block;
    margin-right: 0.25em;
    margin-top: 0.25em;
}

div.informationBox ul li a {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}

div#displayState {
    width: 150px;
    transform: rotate(90deg);
    transform-origin: 50% 50%;
    position: absolute;
    font-family: "Open Sans";
}

.node rect {
    shape-rendering: crispEdges;
}

text {
    font-family: "Open Sans";
    pointer-events: none;
}

#labels text {
    pointer-events: none;
    font-size: 0.6rem;
    font-weight: 300;
}

#xScale text {
    pointer-events: none;
    font-size: 1rem;
    font-weight: bold;
}

#yScale text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
    font-size: 0.6rem;
}

.link {
    fill: none;
}

[data-performerCount="0"] {
    display: none !important;
}

div#legend {
    position: absolute;
    top: 450px;
    left: 175px;
    max-width: 300px;
    pointer-events: none;
    padding: 12px;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    background-color:rgb(252, 252, 251, 0.5);
    border: solid 1px rgba(0, 0, 0, 0.1);
}

text[data-performerCount="1"] {
    opacity: 0.1;
}
