@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

* {
    font-family: 'Open Sans';
}
#yearsActive ul {
    list-style: none;
    padding-left: 0;
    display: inline-flex;
    flex-wrap: wrap;
}

#yearsActive ul li {
    padding: 0.5em;
    background-color: rgba(255, 193, 7, 0.5);
    margin: 0.25em;
}

#yearsActive ul li.inactive {
    background-color: var(--bs-gray-100) !important;
}
#yearsActive ul li:hover {
    cursor: default;
}

#body h1 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#venueOverview tr span,
#performerOverview tr span {
    padding: 0.5rem;
    display: block;
    border-radius: 0.3rem !important;
}

#venueOverview tr span.active,
#performerOverview tr span.active {
    background-color: rgba(255, 193, 7, 0.5);
}

span.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

#comments .comment-container {
    cursor: pointer;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: #3c3c3c;
  }
  
table[data-sorted] thead tr th i::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
table[data-sorted="none"] thead tr th i::before, table[data-sorted="asc"] thead tr th i::before {
    content: "\f571";
}
table[data-sorted="none"] thead tr th i::before {
    color:rgba(0, 0, 0, 0.25)
}
table[data-sorted="desc"] thead tr th i::before {
    content: "\f573";
}

.divider-div {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

.icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .75rem;
}