{% extends 'base.html' %}

{% block title %}Start{% endblock %}

{% block precontainer %}
{% endblock %}

{% block body %}
<div class="row pt-5">
    <div class="col-12">
        <h1>Case Studies</h1>
        <p class="lead pb-2">This is the case study section of the website...</p>
    </div>
</div>
</div><!-- end of container -->

<div class="divider-div"></div>

<div class="row align-items-lg-stretch">
	{% for counter, case_study in data.case_studies.items() %}
		<div class="col-lg-6">
			<div class="h-100 p-5 bg-light border rounded-3">
				<h3>{{ case_study.title }}</h3>
				<h4>{{ case_study.subtitle }}</h4>
				<div id="case-study-{{ counter }}">
					{% if case_study.abstract %}
						{{ case_study.abstract }}
					{% else %}
						{{ case_study.chapter.abstract }}
					{% endif %}
				</div>
				<a class="btn btn-outline-secondary" type="button" href="{{ CASE_STUDY_URL }}/{{ case_study.url }}">Read</a>
			</div>
		</div>
	{% endfor %}
</div>

{% endblock %}
