{% extends 'base.html' %} {% block title %}Performer | {{ data.name }}{%
endblock %} {% block body %}

<h1>{{ data.name }}</h1>

<section id="yearsActive">
    <h2>Years</h2>
    <ul>
        {% for year in ALL_YEARS %} {% if year in data.years_active %}
        <li>{{ year }}</li>
        {% else %}
        <li class="inactive">{{ year }}</li>
        {% endif %} {% endfor %}
    </ul>
</section>

<section id="comments accordion accordion-flush">
    {% if data.comments %}
    <h2>Comments</h2>
    {% for comment, sources in data.comments.items() %}
    <div class="accordion-item">
        <p class="accordion-header" id="comment-{{ loop.index }}">
            <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#comment-{{ loop.index }}-sources"
                aria-expanded="true"
                aria-controls="comment-{{ loop.index }}-sources"
            >
                {{ comment }}
            </button>
        </p>
        <div
            id="comment-{{ loop.index }}-sources"
            class="accordion-collapse collapse"
            aria-labelledby="comment-{{ loop.index }}"
        >
            <div class="accordion-body">
                {% for source in sources %}
                <div class="source">
                    {% if source in NEWSPAPERS_LINKS %}
                    <a
                        href="http://www.newspapers.com/image/{{ NEWSPAPERS_LINKS[source][source] }}"
                        target="_blank"
                    >
                        {% elif source in EIMA_LINKS %}<a
                            href="http://search.proquest.com/docview/{{ EIMA_LINKS[source][source] }}"
                            target="_blank"
                            >{% endif %}{{ source }}{% if source in
                            NEWSPAPERS_LINKS %}</a
                        >{% elif source in EIMA_LINKS %}</a
                    >{% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %} {% endif %}
</section>

<section id="demoData">
    {% if data.birth_year %}
    <h2>Indications of birth year</h2>
    <ul>
        {% for source, birth_year in data.birth_year.items() %}
        <li>{{ birth_year }} ({{ source }})</li>
        {% endfor %}
    </ul>
    {% endif %} {% if data.age %}
    <h2>Indications of age</h2>
    <ul>
        {% for source, age in data.age.items() %}
        <li>{{ age }} ({{ source }})</li>
        {% endfor %}
    </ul>
    {% endif %} {% if data.legal_name %}
    <h2>Indications of legal name</h2>
    <ul>
        {% for source, legal_name in data.legal_name.items() %}
        <li>{{ legal_name }} ({{ source }})</li>
        {% endfor %}
    </ul>
    {% endif %}
</section>

<section id="geoData">
    {% if data.full_venues %}
    <h2>Venues</h2>
    <ul>
        {% for venue, slug in data.full_venues.items() %}
        <li><a href="{{ BASE_URL }}venue/{{ slug }}/">{{ venue }}</a></li>
        {% endfor %}
    </ul>
    {% endif %} {% if data.cities %}
    <h2>Cities</h2>
    <ul>
        {% for city in data.cities %}
        <li>{{ city }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</section>

<section id="images">
    {% if data.images %}
    <h2>Images</h2>
    <ul>
        {% for source in data.images %}
        <li>{{ source }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</section>

<section id="indications">
    {% if data.in_blackface %}
    <h2>Indications that they appeared in blackface</h2>
    <ul>
        {% for source in data.in_blackface %}
        <li>{{ source }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% if data.sepia_performer %}
    <h2>Indications that they were "sepia performers"</h2>
    <ul>
        {% for source in data.sepia_performer %}
        <li>{{ source }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% if data.fan_dancer %}
    <h2>Indications that they were fan dancers</h2>
    <ul>
        {% for source in data.fan_dancer %}
        <li>{{ source }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% if data.exotic_dancer %}
    <h2>Indications that they were exotic dancers</h2>
    <ul>
        {% for source in data.exotic_dancer %}
        <li>{{ source }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</section>

{% endblock %}
