<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'includes/head.html' %}
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% include 'includes/symbols.html' %}
        <main>
            {% include 'includes/mainNav.html' %}
            <div id="horizontal-separator"></div>
            {% block precontent %}{% endblock %}
            <section id="content" class="d-flex flex-column overflow-auto w-100 mb-5">
                {% block precontainer %}{% endblock %}
                <div class="container">
                    {% block body %}{% endblock %}
                </div>
            </section>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

        {% block javascript %}{% endblock %}
        <script src="{{ BASE_URL }}includes/js/tooltip-init.js"></script>
    </body>
</html>
