<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'includes/head.html' %}
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% include 'includes/symbols.html' %}
        <main>
            {% with min_size='xl' %}
                {% include 'includes/mainNav.html' %}
            {% endwith %}
            <div id="horizontal-separator"></div>
            {% block scrollspy %}{% endblock %}
            <section id="content" class="d-flex flex-wrap overflow-auto w-100">
                {% block precontainer %}{% endblock %}
                <div class="container-xl px-5"  data-bs-spy="scroll" data-bs-target="#navbar-example3">
                    {% block body %}{% endblock %}
                </div>
            </sectl>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

        {% block javascript %}{% endblock %}
        <script src="{{ BASE_URL }}includes/js/tooltip-init.js"></script>
    </body>
</html>
