{% extends 'base.html' %}

{% block title %}Start{% endblock %}

{% block precontainer %}

<div class="p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-12 col-sm-9 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">{{ SITE_TITLE }}</h1>
        <p class="lead fw-normal">{{ SITE_SUBTITLE }}</p>
        <a class="btn btn-outline-secondary" href="#">Action</a>
    </div>
</div>

{% endblock %}

{% block body %}
<p class="lead">Id nostrud cupidatat ea duis eu. Exercitation sint eu aute cupidatat. Non sint ea ullamco pariatur do laborum ex amet commodo sint do anim ea. Eu officia Lorem anim laborum exercitation Lorem. Enim ex proident consectetur laboris mollit pariatur consectetur.</p>
<p>Eu ipsum occaecat nisi reprehenderit veniam culpa esse exercitation sunt laborum. Commodo pariatur ex pariatur ut non dolor sit ullamco officia. Deserunt ut sunt sit quis est sit. Culpa sit eu in ad minim aliqua eiusmod pariatur deserunt fugiat laboris. Enim incididunt aliquip enim excepteur cillum incididunt nisi reprehenderit eiusmod excepteur ut elit eiusmod laborum.</p>
<p>Cillum enim ea id laborum dolor incididunt consequat ad. Aliquip est veniam nisi ullamco officia id magna. Et reprehenderit incididunt deserunt nisi cupidatat in incididunt duis. Labore tempor nostrud incididunt do ipsum.</p>
<hr />
<h2>About the Researcher</h2>
<p>Kalle Westerling is a performance scholar and historian. He has also written on topics ranging from queer indie wrestlers, boylesque and male-identified strippers in neo-burlesque, and the influence of RuPaul’s Drag Race on the livelihood and aesthetics of contemporary New York City drag queens.</p>
<p>Previously, he was the project manager for the NEH-funded project “Expanding Communities of Practice,” aimed at helping to create infrastructure for digital humanities across several higher education institutions across the U.S. He is a member of the Steering Committee of HASTAC, the Humanities, Arts, Science, and Technology Alliance and Collaboratory.</p>
<p><a href="/">Read more about Kalle Westerling on his website.</a></p>
{% endblock %}
