{% extends 'base.html' %}

{% block title %}Start{% endblock %}

{% block precontainer %}

<div class="p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">U.S. Drag Performers in the 1930s</h1>
        <p class="lead fw-normal">Subheading - or quick into.</p>
        <a class="btn btn-outline-secondary" href="#">Action</a>
    </div>
</div>

{% endblock %}

{% block body %}
<p class="lead">Id nostrud cupidatat ea duis eu. Exercitation sint eu aute cupidatat. Non sint ea ullamco pariatur do laborum ex amet commodo sint do anim ea. Eu officia Lorem anim laborum exercitation Lorem. Enim ex proident consectetur laboris mollit pariatur consectetur.</p>
<p>Eu ipsum occaecat nisi reprehenderit veniam culpa esse exercitation sunt laborum. Commodo pariatur ex pariatur ut non dolor sit ullamco officia. Deserunt ut sunt sit quis est sit. Culpa sit eu in ad minim aliqua eiusmod pariatur deserunt fugiat laboris. Enim incididunt aliquip enim excepteur cillum incididunt nisi reprehenderit eiusmod excepteur ut elit eiusmod laborum.</p>
<p>Cillum enim ea id laborum dolor incididunt consequat ad. Aliquip est veniam nisi ullamco officia id magna. Et reprehenderit incididunt deserunt nisi cupidatat in incididunt duis. Labore tempor nostrud incididunt do ipsum.</p>
<hr />
<h2>About the Researcher</h2>
<p>Kalle Westerling is a Ph.D. Candidate in Theatre and Performance at The Graduate Center, CUNY, where he works on a dissertation about the history and aesthetics of male-identified bodies in 20th-century burlesque and 21st-century boylesque. He is also the project manager for the NEH-funded project “Expanding Communities of Practice,” aimed at helping to create infrastructure for digital humanities across several higher education institutions across the U.S.</p>
<p>For the past four years, Kalle was the Director of HASTAC Scholars, leading a vibrant student network within The Humanities, Arts, Science, and Technology Alliance and Collaboratory (HASTAC). After that, he was an Instructional Technology Fellow at Macaulay Honors College, CUNY.</p>
<p>Kalle has taught courses at New York University, Villanova University, Baruch College, Hunter College, and Stockholm University, and has guest lectured at Yale University, The New School, Carleton University, and Stockholm Academy of Dramatic Arts. He regularly presents on the topics of queer and LGBT studies, the digital humanities, the public humanities, and on how to leverage digital technology for effective pedagogy.</p>
<p>His monograph, La Dolce Vita (Normal 2006) treats the history of the Swedish drag company After Dark. He regularly delivers scholarly papers at the annual conferences for the American Society for Theatre Researchers (ASTR) and the Association for Theatre in Higher Education (ATHE). His performance-related theatre work has included an English translation and dramaturgy of August Strindberg’s The Pelican for the Voyage Theatre Company’s 2016 production in New York City.</p>
<p>As part of his service to the academic profession, Kalle frequently blogs and employs social media to connect others and build communities. He has organized many conferences, including contributions to HASTAC’s annual international conferences 2015–2017, and the After Marriage Conference in New York City. Kalle has also held board appointments with CLAGS: Center for LGBTQ Studies (Chair of Programming), the open-source publishing platform OpenCUNY, and the CUNY Doctoral Theatre Students’ Association.</p>
{% endblock %}
