{% extends 'base.html' %}

{% block extra_head %}
{% endblock %}

{% block body %}

<h1>Similar names report</h1>
    {% for cat in ["live", "v1"] %}
        <h2>{{ cat }}</h2>
        {% for d in data.v1 %}
            <div class="row">
                <div class="col-1">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse-{{ loop.index }}" role="button" aria-expanded="false" aria-controls="collapse-{{ loop.index }}">
                        Expand
                    </a>
                </div>
                <div class="col-5">
                    {{ d[0] }}
                </div>
                <div class="col-5">{{ d[1] }}</div>
                <div class="col-1">{{ d[2] }}</div>
            </div>
            <div class="row collapse" id="collapse-{{ loop.index }}">
                <div class="col-1">&nbsp;</div>
                <div class="col-5">
                    <ul>
                        {% for node in d[3] %}
                            <li {% if node in d[4] %}class="fw-bold"{% endif %}>{{ node }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-5">
                    <ul>
                        {% for node in d[4] %}
                            <li {% if node in d[3] %}class="fw-bold"{% endif %}>{{ node }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-1">&nbsp;</div>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block javascript %}
{% endblock %}