{% extends 'base.html' %} {% block title %}Performer | {{ data.name }}{%
endblock %} {% block body %}
<h1>{{ data.name }}</h1>

<section id="comments">
    {% if data.comments %}
    <h2>Comments</h2>
    <ul>
        {% for source, comment in data.comments.items() %}
        <li>{{ comment }} ({{ source }})</li>
        {% endfor %}
    </ul>
    {% endif %}
</section>

<section id="yearsActive">
    <h2>Years</h2>
    <ul>
        {% for year in ALL_YEARS %} {% if year in data.years_active %}
        <li>{{ year }}</li>
        {% else %}
        <li class="inactive"><span>{{ year }}</span></li>
        {% endif %} {% endfor %}
    </ul>
</section>

<section id="geoData">
    {% if data.addresses %}
    <h2>Addresses Indicated in Sources</h2>
    <ul>
        {% for source, address in data.addresses.items() %}
        <li>{{ address }} ({{ source }})</li>
        {% endfor %}
    </ul>
    {% endif %}
</section>

<section id="associatedPerformers">
    {% if data.associated_performers %}
    <h2>Associated Performers</h2>
    <ul>
        {% for name, slug in data.associated_performers.items() %}
        <li><a href="/performer/{{ slug }}/">{{ name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</section>

{% endblock %}
