{% extends 'base.html' %}

{% block title %}Network Overview{% endblock %}

{% block extra_head %}<link href="{{ BASE_URL }}includes/network-overview.css" rel="stylesheet" crossorigin="anonymous" />{% endblock %}

{% block precontainer %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 pb-5" id="viz-container">
        <h2>Network Overview</h2>
        <p class="lead">This is an explanation about the visualization/s below... Builds on 14-day span, pre-filtered, and depicts the combinations of different measurements in the network.</p>
        <select id="xChoice"></select>
        <select id="yChoice"></select>
        <input type="range" min="0.1" max="20" value="1.5" class="slider" step="0.1" id="dotSize"><span id="dotSizeValue"></span>
        <div id="txt"></div>
        <svg class="overflow-auto border shadow-sm my-4" id="viz"></svg>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ BASE_URL }}includes/js/network-overview.js" crossorigin="anonymous"></script>
{% endblock %}