{% extends 'base.html' %}

{% block title %}Community Distribution{% endblock %}

{% block precontainer %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 pb-5" id="viz-container">
        <h2>Community Distribution</h2>
        <p class="lead">This is an explanation about the visualization below... Builds on 14-day span, pre-filtered, and depicts the combinations between minimum degree (how many connections one performer must have to other performers) and minimum weight (total number of co-appearing dates), using jLouvain.</p>
        <svg class="overflow-auto border shadow-sm my-4" id="communities"></svg>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ BASE_URL }}includes/js/community-distribution.js" crossorigin="anonymous"></script>
{% endblock %}