{% extends 'base.html' %}

{% block title %}Continuous Performers{% endblock %}

{% block extra_head %}
<style type="text/css">
    .overlay {
        fill: none;
        pointer-events: all;
    }
    .svg-container {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 100%; /* aspect ratio */
        vertical-align: top;
        overflow: hidden;
    }
    .svg-content-responsive {
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 0;
    }

</style>    
{% endblock %}


{% block precontainer %}

<div class="p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">Visualization of Research Process</h1>
        <p class="lead fw-normal pb-4">XYZ XYZ.</p>
        <p class="small pt-4">If you have trouble navigating the image below, you can <a href="{{ BASE_URL }}/includes/img/method-early-version.png"><strong>download it</strong></a> and look at it on your local computer.</p>
    </div>
</div>
<div class="svg-container">
    <svg id="process" class="svg-content-responsive" width="100%" style="min-height:500px; height: 100%;"></svg>
</div>

{% endblock %}


{% block body %}
{% endblock %}

{% block javascript %}
<script src="{{ BASE_URL }}includes/js/process.js" crossorigin="anonymous"></script>
{% endblock %}